body {
  font-family: "IBM Plex Mono", monospace;
  background: #080808;;
  color: #e0e0e0;
  line-height: 1.5;
}

.header {
  border-radius: 0 0 6px 6px;
  background: #1B1B1B;
}

.nav-mobile a {
      display: block;
      padding: 1rem;
      color: white;
      text-decoration: none;
    }

.menu a {
  color: #9C9C9C;
  text-decoration: none;
  font-family: "IBM Plex Mono" monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  transition: color 0.3s;
}

.menu-hamburguer {
  color: #9C9C9C;     
  font-family: "IBM Plex Mono" monospace;
}

.menu-social {
  color: #9C9C9C;
}

.container h1 {
  color: #FFF;
  font-family: "Releway", sans-serif ;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container h3 {
  color: #FFF;
  font-family: 'Raleway'sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.container p {
  color: #9C9C9C;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
}

.container .botao {
  border-radius: 4px;
  color: #FFF;
  font-family: "IBM Plex Mono",monospace;
  border: 1px solid #62BA1B;
  background: #3F8E00;
  font-weight: 700;
  box-shadow: 0 8px 30px 0 rgba(63, 142, 0, 0.50);;
  }

.trabalhos h4 {
  color: #FFF;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trabalhos-lista {
  list-style-type: none;
}

.trabalhos-lista img {
  max-width: 120px;  
}


  

